.chatbot-container {
  width: 470px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.chatbot-header {
  background-color: #0d2f71;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chatbot-header h2 {
  margin: 0;
  font-size: 1.4rem;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.user {
  align-self: flex-end;
  background-color: #0d2f71;
  color: #fff;
}

.message.bot {
  align-self: flex-start;
  background-color: #baceec;
  color: #333;
}

.chatbot-input-form {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.chatbot-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
}

.chatbot-send-btn {
  background-color:#0d2f71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-send-btn:hover {
  background-color: #1e51b5;
}
